<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">
<head>
  <!--<meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
  <meta property="fb:app_id" content="344699962384739"/>  
		  <meta property="og:title" content=" 1תפוח אחד ביום"/>
		  <meta property="og:site_name" content="once a day"/>
		  <meta property="og:url" content="http://onceaday.parseapp.com/campaigns/?cid=e3X0zpeWro#/">
		  <meta property="og:description" content="מי הקול הנשי לצידו  של ששי קשת בשיר 

&quot;פנקס הקטן&quot;? (רמז: 

לא יונה אליאן!)">
		  <meta property="og:image" content="http://files.parsetfss.com/dfa84643-e5bd-4f15-9288-7784bd6e6c52/tfss-88ef8d8f-e027-4fae-b300-c5f2bfb302cc-sasi.jpg"/>
-->
  <title>Once A Day</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-social.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/doc.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
  <script src="js/script.js"></script>
  <script type="text/javascript" src="js/connect.js"></script>
</head>
<body>
	<h1>Hello World</h1>
    <p><%= message %><br/><%= itemObjectIDParam %><br/><%= itemUrlParam %><br/><%=itemImageUrlParam%><br/><%=itemUrlParam%></p>
  <div id="fb-root"></div>
  <div class="container wrapPage">
    <ng-view/>
  </div>
  <!-- scripts -->
  <script type="text/javascript" src="js/index.js"></script>
  <script src="lib/jx.min.js"></script>
  <script src="lib/angular.js"></script>
	<script src="lib/angular-route.js"></script>
	<script src="lib/angular-resource.js"></script>
	<script src="lib/jquery-1.11.0.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  
	<script src="js/app.js"></script>
  <script src="js/service.js"></script>
	<script src="js/controllers.js"></script>
  <script type="text/javascript">
    app.initialize();
  </script>
</body>
</html>
